# Python related
*.pyc
*.pyo
*.pyd
__pycache__
*.so
*.egg
*.egg-info
dist
build

# Virtual environment
venv/

# Pip related
pip-wheel-metadata/
*.egg-info/
.installed.cfg
*.egg

# PyCharm related
.idea/
*.iml

# OS related
.DS_Store
Thumbs.db

podcasts